:root {
	--primary-color: hsl(158, 36%, 37%);
	--secondary-color: hsl(30, 38%, 92%);

	--neutral-color-900: hsl(212, 21%, 14%);
	--neutral-color-400: hsl(228, 12%, 48%);
	--neutral-color-100: hsl(0, 0%, 100%);

	--fw--regural: 500;
	--fw-bold: 700;

	--font-accent: "fraunces", sans-serif;
	--font-base: "Montserrat", sans-serif;
}

*,
*::before,
*::after {
	/* box-sizing: border-box; */
}

* {
	margin: 0;
}

img,
picture,
video,
canvas,
svg {
	/* display: block; */
	max-width: 100%;
}

/* General styling */

body {
	font-family: var(--font-base);
	font-weight: var(--fw--regural);
	font-size: 0.875rem;
	color: var(--neutral-color-400);
	background-color: var(--secondary-color);

	display: grid;
	place-items: center;
	margin: 1rem;
}

.price {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
  padding-left: 1rem;
  place-items: center;
}

/* Product Styles */

#product {
	--content-padding: 0.5rem;
	--content-spacing: 1rem;

	background-color: var(--neutral-color-100);
	border-radius: 0.5rem;
	width: 45vh;
	height: 85vh;
	overflow: hidden;
}

image {
	height: 50%;
}

/* Content Styling */

.content {
	padding: var(--content-padding);
	display: grid;
	color: var(--neutral-color-400);
}

h2 {
	font-size: 0.875rem;
	letter-spacing: 0.3125rem;
	text-transform: uppercase;
	font-weight: 400;
	font-family: var(--font-base);
	padding: 1rem;
}

h1 {
	font-size: 2rem;
	font-family: var(--font-accent);
	color: var(--neutral-color-900);
	padding-left: 1rem;
}

p {
  padding: 1rem;
  line-height: 1.3rem;
}

.price .price-1 {
  font-size: 2rem;
  font-family: var(--font-accent);
  color: var(--primary-color);
}

.price .price-2  {
  color: var(--neutral-color-400);
  text-decoration: line-through;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem;
  height: 3rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--primary-color);
  color: white;
  font-weight: var(--fw-bold);
  font-size: 0.875rem;
}

footer a {
	text-decoration: none;
	color: var(--neutral-color-400);
}

footer {
	max-width: 250px;
	color: black;
	margin: 1rem;
}

@media screen and (min-width: 601px) {
  body {
    display: flex;
    flex-direction: column;
    
  }

  #product {
    display: grid;
    grid-template-columns: 1fr 1fr;
   	width: 75vh;
    height: 60vh;
    margin-top: 8rem;

  }

  .image img {
    height: 60vh;
  }

	footer {
		max-width: 100%;
	}
}